@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    /**/

    ViewData["Title"] = "Health Systems Deployment";
}
@using DeployCenter.Models
@model DeployInputModel

<style>

    td {
        padding-right: 8px;
        text-align: left;
    }
</style>

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("Index", "DeployInput", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div>
        @Html.LabelFor(model => model.Revision)
        @Html.DropDownListFor(model => model.Revision, Model.RevisionList)
        @Html.ValidationMessageFor(model => model.Revision, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(model => model.EnvironmentId)
        @Html.DropDownListFor(model => model.EnvironmentId, Model.EnvironmentList, new { @onchange = "FillServerList();" })
        @Html.ValidationMessageFor(model => model.Revision, "", new { @class = "text-danger" })
    </div>
    <div>
        @Html.LabelFor(model => model.Servers)
        @Html.ListBoxFor(model => model.Servers, new MultiSelectList(Model.ServerList, "Value", "Text"), new { size = 10, Multiple = "multiple" })
        @Html.ValidationMessageFor(model => model.Revision, "", new { @class = "text-danger" })
    </div>
    <div>
        <label>Deploy Options:</label>
        <table>
            @{ 
                for (int i = 0; i < Model.SelectedDeployOptions.Length; i++)
                {
                    var type = (DeployOption.Type)i;
                    var desc = DeployOption.GetTypeDescription(type);
                    <tr>
                        <td>@Html.CheckBoxFor(model => model.SelectedDeployOptions[i])</td>
                        <td>@Html.Label(desc)</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div>
        <input type="submit" value="Deploy" class="btn btn-default" />
        &nbsp;&nbsp;&nbsp;
        <input type="button" value="Cancel Deploy" class="btn btn-default" onclick="window.location.href = '@Url.Action("Index", "Home")';" />
    </div>
}

@section Scripts {

    <script type="text/javascript">
  
        $(document).ready(function () {
            $("form").submit(function () {
                if ($('input:checkbox').filter(':checked').length < 1) {
                    alert("Check at least one Deploy Option!");
                    return false;
                }
            });
        });

        function FillServerList() {
            var envKey = $('#EnvironmentId').val();
            $.ajax({
                url: '/DeployInput/FillServerList',
                type: "GET",
                dataType: "JSON",
                data: {
                    environmentKey: envKey
                },
                success: function (servers) {
                    $("#Servers").html(""); // clear before appending new list
                    $.each(servers, function (i, value) {
                        $("#Servers").append(
                            $('<option></option>').val(value.Id).html(value.Name));
                    });
                }
            });
        }

    </script>

}