@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Health Systems Deployment";
}
@model DeployInputModel

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@Html.LabelFor(model => model.Revision)
@Html.DropDownListFor(model => model.Revision, Model.RevisionList)

@Html.LabelFor(model => model.EnvironmentId)
@Html.DropDownListFor(model => model.EnvironmentId, Model.EnvironmentList)

@Html.LabelFor(model => model.Servers)
@Html.ListBoxFor(model => model.Servers, new MultiSelectList(Model.ServerList, "Value", "Text"), new { size = 10, Multiple = "multiple" })